{% extends "base.html" %}
{% block content %}
    <h1>Sign In</h1>
{#    The novalidate attribute is used to tell the web browser to not apply validation to the fields in this form,#}
{#    which effectively leaves this task to the Flask application running in the server. Using novalidate is entirely optional, #}
{#    but for this first form it is important that you set it because this will allow you to test server-side#}
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
